body {
	width: 800px;
	margin: 0;
	padding: 0;
	width: 100%;
	color: white;
	
}
h1, h2 {
	border-bottom: 1px solid black;
}

h3{
	margin: 0;
}

#header{
	background-color: #A60000;
	margin: 0em 10em 0em 0em;
	padding: 1em 1em 1em 1em;
	width: 100%;
}

#header h2{
	text-align: center;
	text-decoration: none;
	font-variant: small-caps;
}
#map{
	
}

#content{
	margin-left: 10px;
}

#clear-button{
	font-family: sans-serif;
	position: absolute;
	left: 697px;
	top: 112px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

#slider, #year-output{
	float: left;
}

#slider {
	clear: right;
	width: 280px; 
	margin: 10px;
	color: black;
	border: solid 1px black;
}
#year-output{
	color: #ff0000;
	margin: 5px 18px 5px 325px;
	font-size: 20pt;
}
p{
	clear: both;
	margin: 0;
	color: black;
}