/***** 		FORMS		 *****/
legend{
	padding: .75em 0em 0em 0em;
	font-family: 'Carrois Gothic SC', 'helvetica', arial, sans-serif;	
	font-size: 1.8 em;	
}

#signup{
	margin: 1em;
	padding: 2em;
	width: 18em;
}

#login{
	margin: 1em;
	padding: 2em;
	width: 18em;	
}


#add-post{
	width: 90%;
	margin: 1.5em 0em 0em 1em;
	padding: 0em 1em 0em 1em;
	max-width: 28em;
	height: 13em;
}

textarea.add{
	height: 8em;
	width: 100%;
}

.submit {
}

input{
	display:block;
	border: 1px solid;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	}

.form-bubble{
	background-color: #3A4349;
	border-radius: .5em .5em;
	box-shadow: 0px 0px 10px #000000;
	top:0;
	left:0;
	padding: 0.5em 1.5em 0em 1.5em;
	height: 100%;
	width: auto;
}