#signup{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 18em;
}

#login{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 18em;	
}



#add-post{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 21em;
	height: 13em;
}
textarea.add{
	width: 24em;
	height: 6em;
}

input{
	width: 16em;
	text-align: center;
	border: 1px solid;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	}