#signup{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 18em;
}

#login{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 18em;	
}



#add-post{
	position: relative;
	margin: 1em;
	padding: 2em;
	width: 21em;
	height: 13em;
}
textarea.add{
	width: 24em;
	height: 6em;
}

input{
	width: 16em;
	text-align: center;
	border: 1px solid;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	}

.form-bubble{
	background-color: #3A4349;
	border-radius: .5em .5em;
	box-shadow: 0px 0px 10px #626390;
	top:0;
	left:0;
	padding: 0.5em 1em 0em 1em;
	height: 100%;
	width: 100%;
}
