@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(http://fonts.googleapis.com/css?family=Merienda+One);

body {
	margin: 0em 0em 0em 0em;
	padding: 0em;
	min-width: 30em;
	background-color: #060F16;

}
/****** HEADERS ******/
#header{
	height: 6em;
	margin: 0;
	padding: .5em 0em 0em 0em;
/*background-color: #1A262F; 	background-color: ##1A262F; */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5C798E), to(#1A262F));
	background-image: -webkit-linear-gradient(top, #5C798E, #1A262F); 
	background-image:    -moz-linear-gradient(top, #5C798E, #1A262F);
	background-image:     -ms-linear-gradient(top, #5C798E, #1A262F);
	background-image:      -o-linear-gradient(top, #5C798E, #1A262F);
	color:#ffffff;

}
h1{
	/*float:left;*/
	font-family: "Merienda One", Serif;
	font-weight: 400;
	font-size: 2em;
	text-decoration: underline;
	padding: 0em 0em 0em 3em;
	margin: 2em 0em 2em 1em;
	display:inline;
}

#header a{
	color:#ffffff;
	
}

#header a:visited{
	color:white;	
	
}

#menu {
	float: right;
	padding: 1em 0em 0em 0em;
}
#header ul{
	margin: 0em 3em 0em 0em;
	padding: 1em;
	display:inline;
	
}

#header li{
	/*border: solid 1px white;*/
	background-color: #0B0B22;
	border-radius: .75em;
	margin: 0;
	padding: .25em 1em .25em 1em;
	list-style:none;
	display: inline;
}

#header ul, span {
	font-family: 'Carrois Gothic SC', 'helvetica', arial, sans-serif;	
}




#content {
	margin: 0em 2em 0em 2em;
	font-family: 'Helvetica', arial, sans-serif;
	color: #ffffff;
}




span{
	color:#d16d20;
}



/***** VALIDATION ****/
.error
{
	
}
/****** POSTS *******/
.post {
	min-height: 5em;
	min-width: 18em;
	max-width: 23em;
	margin: 2em 1em 1.5em 3em;

}

.glow-bubble{
	background-color: rgba(104,126,142,.6);
	border: solid thin white;
	border-radius: .5em .5em;
	box-shadow: 0px 0px 10px #55adff;
	top:0;
	left:0;
	padding: 0.5em 1em 0em 1em;
	height: 100%;
	width: 100%;

	
}

p{
	line-height: 12pt;
	
}
.created{
	text-align: right;
	font-size: .8em;
	
	
	
}










