#stream-side{
	background-color: #2B2D30;
	width: 100%;
}
#sidebar{
	visibility: hidden;
}

#add-post{
	float: right;
	margin: 1.5em 1em 0 1em;
	max-width: 80%;
	height: 22em;
}
textarea#add{
	height: 16em;
}