body {
	margin: 0;
	padding: 0;
	min-width: 800px;
	color: black;
	
}
#wrapper{
	width: 100%;
}

h1, h2 {
	border-bottom: 1px solid black;
}

h3{
	margin: 0;
}

/******** HEADER *******/
#header{
	background-color: #A60000;
	margin: 0em;
	padding: 1em 0em 1em 0em;
	width: 100%;
	color: white;
}

#header h2{
	text-align: center;
	text-decoration: none;
	font-variant: small-caps;
}


#menu {
	float: right;
	padding: -1em 0em 0em 0em;
}
#header ul{
	margin: 0em 3em 0em 0em;
	padding: 1em;
	display:inline;
	
}

#header li{
	background-color: #000000;
	border-radius: .75em;
	margin: 0;
	padding: .25em 1em .25em 1em;
	list-style:none;
	display: inline;
	font-variant: small-caps;
}

#header a {
	text-decoration: none;
	color: white;
	
}

#header a:visited{
	color: white;
}





#poptable{
	display: none;
	width: 100%;
}

#content{
	width:710px;
	margin-left: 10px;
	color: black;
	float: left;
}

#clear-button{
	font-family: sans-serif;
	position: absolute;
	left: 697px;
	top: 112px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

#caption{
	display: none;
	font-family: sans-serif;
	position: absolute;
	left: 630px;
	top: 480px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    font-size: .8em;
    text-align: center;
}

#slider, #year-output{
	float: left;
}


#slider {
	clear: right;
	width: 460px; 
	margin: 13px 0px 20px 0px;
	border: solid 1px black;
}

#description{
	clear:both;
}

#year-output{
	color: #ff0000;
	margin:0px 0px 0px 175px;
	font-size: 22pt;
}

table{
	clear: both;
	margin: 0;
}

#sidebar{
	background-color: black;
	min-width:82px;
	height: 400px;
	margin: 0 0 0 718px;
	padding: 0;
	color: black;
}

#statefactsbox{
	text-align: center;
	background: white;
	Width: 65%;
	height: 300px;
	margin: auto;
	padding: 10px;
	display: none;
	
}

#footer{
	clear:both;
	text-align: right;
	font-size: smaller;
	padding: 4px;
}

#datachooser{
	float:left;
	padding: .5em;
}

.rightdrop{
	float: right;
	padding: .5em;
}
#save-btn{
	margin-top: .5em;
}
